# UE gen files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# build
*.obj
*.pch
*.res
*.ilk
*.meta
*.exp
*.lib
*.dll
*.exe
*.app
*.dylib
*.so
*.a
Desktop.ini

# vs
*.opendb
*.db
Debug/
Release/
x64/
Win64/
*.aps
*.ncb
*.user
*.userprefs
*.tlog
*.log
*.idb
*.pdb
*.sbr
ipch/
*.aps
[Bb]in/
[Oo]bj/

# shader
**/ShaderCache/
**/GPUCache/

*.sln
*.sln.user

**/*.log
**/Logs/
**/Profiling/
**/Reports/
**/Temp/
**/AutoSave/

*~
*.bak
*.tmp

**/Windows/
**/Win64/
*.dmp
*.mdmp

**/Analytics/